@media screen and (min-width:768px){
    .navAlign{
        position: absolute;
        right: 50px;
    }

    .welcomeText{
        font-size: 3em !important;
    }
}

@media screen and (max-width:500px){
    .welcomeText{
        font-size: 1.7em !important;
    }
}

@media screen and (max-width:400px){
    .welcomeText{
        font-size: 1.35em !important;
    }
}

@media screen and (min-width:1200px){
    .welcomeText{
        font-size: 4em !important;
    }
}

.inactive{
    color:#06283D !important;
}

.active{
    color:#1EAE98 !important;
}

.open-block-background{
    background: linear-gradient(to right ,#aceec5 , #e7eefa);
    border-radius: 0 0 30px 30px;
}

.orange{
    background-color: #f86d2d;
}

.btns{
    transition: 0.2s ease-in-out;
}

.btns:hover{
    background-color: #06283D;
    transform: translateX(10px);
}

.sectionText > span{
    opacity: 0;
    transition: 0.2s;
}

.sectionText:hover > span{
    opacity: 1;
}

.skillArea .circles, 
.skillArea .circles svg,
.skillArea .circles svg circle{
    width: 160px;
    height: 160px;
}

.skillArea .circles svg{
    transform: rotateZ(-90deg);
}

.skillArea .circles svg circle{
    fill: none;
    stroke-width: 15px;
    stroke: #0096FF;
    transform: translate(10px,10px);
    stroke-dasharray: 440;
    stroke-linecap: round;
    
}

.skill-background{
    background:radial-gradient( #EFF5F520 , #EAEAEA20);
}

.study-icon{
    transform:translate(-10px , -25px);
    color: #22751b;
    box-shadow:0px 0px 30px #1db632;
    background-color: #1db63230;
    border-radius: 50%;
}

.top-study-icon{
    transform:translateY(30px) scale(1.2);
}

.study-text-area{
    background-color: #1db63230;
    border-radius: 0 10px 10px 10px;
    margin-left: 40px;
    transform: translateY(calc(50% - 15px)) !important;
}

.study-text-area:before{
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    border-top: 30px solid #23f33f30;
    border-left: 30px solid transparent;;
}