@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative overflow-x-hidden bg-slate-50 text-slate-900 dark:bg-gray-800 dark:text-white;
  }

  :root {
    --primary-green: 16 185 129;
    --secondary-blue: 37 100 235;
    @apply overflow-x-hidden;
  }

  :root[class~="dark"] {
    --primary-green: 0 255 171;
    --secondary-blue: 186 230 253;
  }

  .font-outline {
    -webkit-text-stroke: 1.5px rgb(var(--primary-green));
  }
}

.remove-highlight {
  -webkit-tap-highlight-color: transparent;
}

.animation-delay {
  animation-delay: -2500ms;
}

img {
  @apply select-none;
}
